* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    color: #fff;
}

body {
    background-color: #1a1a1a;
    background-size: 2px 2px; 
    min-height: 100vh;
}

a {
    text-decoration: none;
    transition: color 0.3s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 20px 80px;
    font-weight: 600;
}

.logo {
    font-size: 24px;
}

.logo-whac {
    color: #fff;
    font-weight: 700;
}

.nav-links a {
    margin: 0 15px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px;
}

.nav-links a.active {
    color: #fff;
    font-weight: 600;
}

.member-link a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
    height: calc(100vh - 80px);
}

.content-left {
    max-width: 50%;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.game-image {
    width: 100%;
    max-width: 450px; 
    height: auto;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2)); 
}

.game-text {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

.title {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1;
}

.red-a {
    color: #ff4d4d;
    font-size: larger;
}

.subtitle {
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
}
